.FirstColumn,
.SecondColumn {
  width: 100%;
}
.FirstColumn {
  padding: 20px;
  height: 25vh;
  background-color: #00cb78;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.SecondColumn {
  padding: 20px;
  height: 75vh;
}

.contentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.timeWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeWrapper .field {
  width: 45% !important;
  margin: 0 !important;
}
@media only screen and (min-width: 768px) {
  .FirstColumn,
  .SecondColumn {
    width: 800px !important;
  }
  .FirstColumn {
    margin: 0 !important;
  }
}
