.HomeSectionWrapper {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  background: url("../images/HomeBackground.png") !important;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.HomeTitleWrapper {
  width: 30%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomeHeader {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.HomeHeader img {
  height: 80px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.button {
  width: 15%;
  background: #fff;
  height: 50px;
  border-radius: 20px;
  color: #000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .addHomeBackground {
  height: 100vh;
  min-height: 40rem;
  padding-bottom: 0;
} */
.overRideContainer {
  width: 74% !important;
  margin: auto !important;
}
