.ProfileWrapper {
  position: relative;
  background: #437520;
}
.ProfileLeftColumn {
  background: #5f8d47;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ProfileImageWrapper {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.ProfileImageWrapper img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 1100px) {
  .overRideContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 1040px) {
  .cartColumns {
    display: flex !important;
    flex-direction: column !important;
  }
  .SecondColumns {
    width: 100% !important;
  }
  .ProfileLeftColumn {
    height: auto;
    position: relative !important;
  }
  .allGroundsWrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 25px;
  }
}
