.AddManagerWrapper {
    position: relative;
    background: #202175;
  }
  .AddManagerLeftWrapper {
    background: #5f8d47 !important;
  }
.AddManagerInputs {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border-color: transparent;
    margin-bottom: 20px;
    color: #fff;
    background-color: #202175;
    padding: 5px;
    padding-left: 10px;
  }
  .AddManagerInputs::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
  }
  .AddManagerInputs:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
  }
  .AddManageInputs::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
  }
  .AddManagerInputs:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
  }
  .AddManagerInputs::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
  }
  
  .AddManagerInputs::placeholder {
    /* Most modern browsers support this now. */
    color: #fff;
  }
  .AddManagerLeftWrapper {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .AddManagerBtn {
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 25px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .dividerWrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .dividerWrapper .dividerLine {
    height: 5px;
    width: 30%;
    background: #fff;
    margin: 1px;
  }
  .dividerWrapper p {
    margin-bottom: 0 !important;
  }
  .socialIconsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  @media only screen and (max-width: 1215px) {
    .AddManagerColumns {
      display: flex !important;
      flex-direction: column !important;
    }
    .AddManagerLeftWrapper {
      height: auto;
      position: relative;
    }
    .AddManagerCartWrapper {
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 1100px) {
    .overRideContainer {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  @media only screen and (max-width: 490px) {
    .AddManagerWrapper {
      padding: 3rem 0 !important;
    }
    .AddManagerLeftWrapper {
      margin: 20px;
    }
    .dividerWrapper .dividerLine {
      width: 25%;
    }
  }