.columns {
  margin: 0 !important;
}
.card.isCardSelected {
  background-color: #bae5d3 !important;
}
.react-datepicker-wrapper {
  width: 100% !important;
}

tr,
td {
  margin: 5px !important;
  padding: 5px !important;
}
td {
  padding: 15px !important;
  text-align: center;
}
