.addMinHeight {
  min-height: 100vh !important;
  height: auto !important;
}
.addGroundDivider {
  width: 5px !important;
  background: #fff;
  opacity: 0.3;
  border-radius: 10px;
  margin: 20px !important;
}
.GroundImage {
  height: 250px !important;
  width: 500px !important;
  margin: 10px;
  padding: 10px;
}
.columnsWrapper {
  position: relative;
}
.addGroundBackground {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #5f8d47;
  /* background: hsl(140, 70%, 60%); */
  position: sticky;
  top: 0%;
}
.addBookingBackground {
  position: relative;
  background: transparent !important;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeBarWrapper {
  width: 100% !important;
  background-color: #6d9c55;
  /* background: hsl(140, 70%, 60%); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.slotsWrapper {
  margin-top: 30px;
  width: 100%;
}
.checkoutWrapper {
  width: 75%;
  z-index: 10;
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-25%, -100%);
}
.groundMobileWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .timeBarWrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .dateWrapper {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .addGroundBackground {
    height: auto;
    position: relative;
  }
  .GroundImage {
    height: 250px !important;
    width: 350px !important;
    margin: 10px;
  }
}
