.headerWrapper {
  height: 10vh;
  background-color: #437520;
  padding: 0 55px;
  display: flex;
  align-items: center;
}

.btnBackGround {
  background: #75a269 !important;
  border: none;
}
.personCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
}
