.headerWrapper {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #437520;
}

.personCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
}
