.LoginWrapper {
  position: relative;
  background: #437520;
}
.LoginLeftWrapper {
  background: #5f8d47 !important;
}
.LoginInputs {
  width: 80%;
  height: 50px;
  border-radius: 5px;
  border-color: transparent;
  margin-bottom: 20px;
  color: #fff;
  background-color: #75a269;
  padding: 5px;
  padding-left: 10px;
}
.LoginInputs::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
.LoginInputs:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
.LoginInputs::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.LoginInputs:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.LoginInputs::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.LoginInputs::placeholder {
  /* Most modern browsers support this now. */
  color: #fff;
}
.LoginLeftWrapper {
  height: 100vh;
  position: sticky;
  top: 0;
}
.signInBtn {
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 25px;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.dividerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dividerWrapper .dividerLine {
  height: 5px;
  width: 30%;
  background: #fff;
  margin: 1px;
}
.dividerWrapper p {
  margin-bottom: 0 !important;
}
.socialIconsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 1215px) {
  .LoginColumns {
    display: flex !important;
    flex-direction: column !important;
  }
  .LoginLeftWrapper {
    height: auto;
    position: relative;
  }
  .LoginCartWrapper {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1100px) {
  .overRideContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 490px) {
  .LoginWrapper {
    padding: 3rem 0 !important;
  }
  .LoginLeftWrapper {
    margin: 20px;
  }
  .dividerWrapper .dividerLine {
    width: 25%;
  }
}
