.psContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageWrapper {
  height: 500px;
  width: 500px;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
